@import url('main.css');
h1{
  background-color:rgba(0,0,0,.7);
  padding:.25em 0;
}
a[href="#"]{
  display:none;
}
.w{
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  align-items:stretch;
  overflow:hidden;
}
.c_container{
  display:flex;
  height:550px;
  align-content:center;
  align-items:center;
  background-color:rgba(0,0,0,.35);
  border: solid rgba(255,255,255,.45);
  border-width:1px 0;
}
.pad,.char_link{
  height:100%;
}
.pad{
  flex:1.25;
}
.char_link{
  transform:skew(-5deg);
  background-color:rgba(255,255,255,.15);
  border:1px solid rgba(255,255,255,.45);
  border-width:0 1px;
  overflow:hidden;
  flex:1;
  margin:0 -0.5px;
  transition:
    background-color .15s ease-out,
    flex .15s ease-out,
    margin .15s ease-out;
}
.char_link::before,.char_link_content{
  transform:skew(5deg);
}
.char_link::before{
  content:'';
  position:relative;
  display:block;
  left:-27%;
  width:154%;
  height:100%;
  background-position:center;
  background-size:cover;
  filter:saturate(0.5);
  transition:
    transform .15s ease-out,
    filter .15s ease-out;
}
.char_link_content{
  position:absolute;
  text-align:center;
  width:105%;
  pointer-events:none;
  color:#fff;
  transition:width .15s ease-out;
  border:solid rgba(0,0,0,.3);
  border-width:1px 0;
  top:75%;
  left:-2.5%;
  font-size:1.4em;
  font-weight:300;
  letter-spacing:.03rem;
  padding:.35em 0;
  background-color:rgba(0,0,0,.5);
  text-shadow:1px 1px 2px #000;
  transition:background-color .15s ease-out;
}

#eso{
  background-image:url(i/eso.jpg);
}
#p-v{
  background-image:url(i/p-v.jpg);
}

.char_link:hover{
  background-color:rgba(255,255,255,.3);
  flex:1.05;
}
.char_link:hover::before{
  transform:skew(5deg) scale(1.015,1.015);
  filter:saturate(1);
}
.char_link:hover .char_link_content{
  background-color:rgba(0,0,0,.75);
}

.marrin::before{
  background-image:url(i/marrin.jpg);
}
.des::before{
  background-image:url(i/des.jpg);
}
.taylor::before{
  background-image:url(i/taylor.jpg);
}
.az::before{
  background-image:url(i/az.jpg);
}
.fari::before{
  background-image:url(i/fari.jpg);
}

@media (max-width:799px){
  h1{
    font-size:1.5em;
    background-color:#151515;
  }
  .c_container{
    flex-direction:column;
    height:auto;
    border-width:0 0 1px;
  }
  .pad{
    display:none;
  }
  .char_link{
    width:100%;
    transform:none;
    border-width:1px 0;
    margin:-.5px 0;
    flex-basis:200px;
    flex:1 0;
  }
  .char_link::before,.char_link_content{
    transform:none;
  }
  .char_link::before{
    filter:blur(5px) saturate(.5);
  }
  .char_link_content{
    position:relative;
    width:100%;
    padding:1em 0;
    font-size:1.3em;
    top:-100%;
    left:0;
  }
  
  .char_link:hover{
    flex:1;
  }
  .char_link:hover::before{
    transform:none;
    filter:blur(5px) saturate(1);
  }
  .char_link:hover .char_link_content{
    background-color:rgba(0,0,0,.75);
  }
}