::-moz-selection{
  color:#151511;
  background-color:#eeca2a;
  text-shadow:initial;
}
::selection{
  color:#151511;
  background-color:#eeca2a;
  text-shadow:initial;
}
body{
  background:#625F4F url(i/grunge-light.png) fixed;
  text-shadow:0px 0px 1px rgba(0,0,0,0.75),1px 2px 1px rgba(0,0,0,0.5);
}
a, #f a{
  color:#c5bf9e;
  border:none;
  transition:color .15s;
}
a:hover, #f a:hover{
  color:#fff;
  background:none;
}
#h_bg{
  display:none;
}
#h_title{
  background:#151511 url(i/grunge.png);
  border:solid #c5bf9e;
  border-width:2px 0;
  color:#c5bf9e;
}
#h_title,.section_title{
  color:#eeca2a;
}
h2, h4, .pros_cons{
  color:#ccccbd;
}
article,.image{
  background-color:transparent;
}
.image{
  box-shadow:none;
}
.img_container{
  border:none;
}
.info{
  background-color:rgba(21,21,17,.5);
  border:1px solid #111;
  color:#aaa;
}
.section_title{
  font-size:1.4em;
}
.stat_desc{
  background:linear-gradient(to right, rgba(0,0,0,.075), rgba(0,0,0,.15));
}
.pros li::before, .cons li::before{
  border-width:1px;
  width:calc(.25em + 2px);
  height:calc(.25em + 2px);
}
.level{
  background-color:#1a1a16;
}
.level div{
  border-color:#1a1a16;
}
#f{
  background:#151511 url(i/grunge.png);
  border-top:1px solid #111;
  color:#999;
}

@media (max-width:749px){
  .stat_desc{
    background:linear-gradient(to top, rgba(0,0,0,.075), rgba(0,0,0,.15));
  }
}