@import url('../main.css');
p{
  margin:1em auto;
  line-height:140%;
  padding:0 5%;
}
p:first-of-type{
  margin-top:1.5em;
}

#h{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:500px;
  overflow:hidden;
}
#h_bg{
  position:absolute;
  height:100%;
  width:100%;
  filter:blur(20px) saturate(3);
  background-color:#000;
  z-index:-1;
}
#h.sm{
  height:300px;
}
#h.big{
  height:700px;
  transition:height .1s ease-out;
}
#h_separator{
  width:100%;
  flex:4;
}
#h_bg,
#h_separator{
  background-position:bottom;
  background-size:cover;
  background-attachment:fixed;
}
#h_title{
  border:solid rgba(255,255,255,.5);
  border-width:1px 0;
  width:100%;
  text-align:center;
  background-color:rgba(10,10,10,.85);
  padding:0 0 .4em;
  box-shadow:0 0 10px rgba(0,0,0,.5);
}
#h_title h1{
  font-size:2.5em;
}
#h.no_banner{
  height:auto;
}
#h.no_banner #h_separator{
  display:none;
}
#h.no_subhead #h_title{
  padding:.5em 0;
}
#h.no_subhead h2{
  display:none;
}

article{
  background-color:#1a1a1a;
}

section{
  display:flex;
  align-items:stretch;
}
section:nth-child(even){
  flex-direction:row-reverse;
}
section.no_img .info{
  padding:1em 15%;
}
section.no_img .image{
  display:none;
}
section.wide_img{
  flex-direction:column!important;
}
.image{
  padding:1em 0;
  align-content:center;
  flex:1;
  box-shadow:0 0 10px rgba(0,0,0,.3) inset;
  background-color:#1a1a1a;
  margin:.5px 0;
}
.img_container{
  width:87.5%;
  margin:auto;
  border:0 solid rgba(255,255,255,.5);
  text-align:center;
}
.diamond .img_container,
.circle .img_container{
  width:85%;
  overflow:hidden;
}
.diamond .img_container{
  transform:rotate(45deg) scale(.6,.6);
  border-width:2px;
  outline:2px solid rgba(0,0,0,.75);
}
.circle .img_container,
.square .img_container{
  margin:1em auto;
  width:60%;
  border-width:1px;
  box-shadow:0 0 0 1px rgba(0,0,0,.75);
}
.circle .img_container{
  border-radius:50%;
}
.wide_img .image{
  padding:1em;
}
.wide_img .img_container{
  width:100%;
}
.image img{
  margin-bottom:-.25em;
  width:100%;
}
.wide_img img{
  max-height:400px;
  max-width:100%;
  width:auto;
}
.image.diamond img{
  transform:rotate(-45deg) scale(1.45,1.45);
}
.info{
  padding:1em 2em;
  flex:2;
  background-color:#151515;
  border:1px solid #0f0f0f;
  margin: -0.5px 0;
}
.section_title{
  margin:0 0 1em;
  align-self:start;
  text-align:center;
  font-weight:normal;
  font-size:1.35em;
}

#stats{
  display:flex;
  margin-bottom:1em;
  align-items: center;
}
.stat_desc{
  background-color:rgba(0,0,0,.15);
  border-right:1px solid #0e0e0e;
  margin-right:-1px;
  box-shadow:5px 0 5px -5px rgba(0,0,0,.25);
  flex:1.2;
}
.stat_desc p{
  padding:.75em 1em;
  margin:.5em auto;
}
.stat_chart{
  border:solid #0e0e0e;
  border-width:1px 1px 1px 0;
  flex:0.8;
}
.stat_chart table{
  background-color:rgba(0,0,0,.1);
  width:100%;
  border-collapse:collapse;
}
.stat_chart tr{
  display:flex;
  width:100%;
}
.stat_chart tr:nth-child(odd){
  background-color:rgba(0,0,0,.2);
}
.stat_chart td{
  padding:.4em .5em;
  flex:2;
}
.stat_chart td:first-child{
  flex:1;
  font-weight:bold;
}

#moral_chart{
  width:100%;
}
.chart_row{
  display:flex;
  flex-direction:row;
  align-content:center;
  align-items:center;
  height:2em;
}
.label{
  font-size:1.2em;
  flex:1;
  font-weight:lighter;
  opacity:.5;
}
.label:first-of-type{
  text-align:right;
}
.chart_row.green > .label:first-of-type,
.chart_row.red > .label:last-of-type{
  opacity:1;
}
.bar{
  flex:2;
  margin:0 .5em;
  background-color:rgba(0,0,0,.2);
  border:1px solid rgba(0,0,0,.3);
}
.bar::before{
  content:'';
  display:block;
  background:#808080;
  height:.75em;
  width:100%;
}
.green > .bar::before{
  background-color:#4ca142;
  background-image:linear-gradient(to left, #397931 30%, #4ca142 30%);
  margin:auto 50% auto auto;
}
.red > .bar::before{
  background-color:#dd2423;
  background-image:linear-gradient(to right, #a11a19 30%, #dd2423 30%);
  margin:auto auto auto 50%;
}

.pros_cons{
  display:flex;
  margin:0 5%;
}
.pros_cons h4{
  letter-spacing:.02em;
  color:#fff;
  font-size:1.2em;
  font-weight:normal;
  text-align:center;
  margin:0 0 .25em;
  padding:.4em 0;
  text-shadow:0 0 2px #151515;
}
.pros_cons ul{
  margin:1em 7.5%;
  padding:0;
  list-style-type:none;
}
.pros_cons li{
  margin:.25em 0;
  padding-left:1em;
}
.pros_cons li:before{
  content:'';
  display:inline-block;
  position:absolute;
  outline:1px solid currentColor;
  width:.25em;
  height:.25em;
  margin:.4em 0 0 -1.1em;
  background-color:currentColor;
  border:2px solid #151515;
  transform:rotate(45deg);
}
.pros,.cons{
  flex:1;
}
.pros{
  background-color:rgba(71,161,66,.027);
}
.cons{
  background-color:rgba(221,36,35,.027);
}
.pros h4{
  background-color:rgba(71,161,66,.125);
  border-bottom:2px solid #397931;
}
.cons h4{
  background-color:rgba(221,36,35,.125);
  border-bottom:2px solid #a11a19;
}
.pros li:before{
  border-color:#161916;
  background-color:#4ca142;
}
.cons li:before{
  border-color:#1a1515;
  background-color:#dd2423;
}

.skill_category{
  margin:1em 0 0;
  padding:.25em 0 0 .5em;
}
.skill_h{
  font-weight:normal;
  font-size:1.1em;
  letter-spacing:.02em;
  margin:0 0 .5em;
}
.skill_array{
  width:100%;
  display:flex;
}
.skill_array ul{
  padding:0;
  margin:0 auto;
  display:inline-flex;
  flex-wrap:wrap;
  width:100%;
}
.skill_array li{
  padding:.5em;
  list-style:none;
  flex:0 calc(33% - 1.5em);
  display:inline-block;
  background-color:rgba(0,0,0,.15);
  border:1px solid rgba(0,0,0,.15);
  margin:0 0 .5em .5em;
  box-shadow:0 0 6px rgba(0,0,0,.1);
}
.skill_array li:nth-child(3n+1){
  margin-left:0;
}
.skill_array li h5{
  text-shadow:0 0 2px #121212;
  font-size:1em;
  font-weight:lighter;
  text-align:center;
  margin:.15em 0 .85em;
}
.skill_array .sub_h{
  letter-spacing:0.02em;
  font-size:.8em;
  opacity:.4;
}
.skill_array .sub_h:before{
  content:'(';
}
.skill_array .sub_h:after{
  content:')';
}
.level{
  margin:.5em 0 0;
  width:100%;
  height:.5em;
  background-color:rgba(0,0,0,.1);
  display:flex;
  padding:2px;
}
.level div{
  background-color:rgba(32,89,204,.075);
  flex:1;
  border:solid #101010;
  border-width:0 1px;
}
.level div:first-child{
  border-left-width:0;
}
.level div:last-child{
  border-right-width:0;
}
.level[data-level="1"] div:nth-child(1){
  background-color:#2059cc;
}
.level[data-level="2"] div:nth-child(1),
.level[data-level="2"] div:nth-child(2){
  background-color:#2059cc;
}
.level[data-level="3"] div:nth-child(1),
.level[data-level="3"] div:nth-child(2),
.level[data-level="3"] div:nth-child(3){
  background-color:#2059cc;
}
.level[data-level="4"] div:nth-child(1),
.level[data-level="4"] div:nth-child(2),
.level[data-level="4"] div:nth-child(3),
.level[data-level="4"] div:nth-child(4){
  background-color:#2059cc;
}
.level[data-level="5"] div:nth-child(1),
.level[data-level="5"] div:nth-child(2),
.level[data-level="5"] div:nth-child(3),
.level[data-level="5"] div:nth-child(4),
.level[data-level="5"] div:nth-child(5){
  background-color:#2059cc;
}
.level:before{
  content:'Lv 'attr(data-level);
  background-color:transparent;
  position:absolute;
  margin-top:-1.5em;
  font-size:.9em;
  opacity:.75;
}

/* mobile */
@media (max-width:749px){
  #h:not(.no_banner){
    height:250px!important;
  }
  #h_bg,
  #h_separator{
    background-attachment:scroll;
    background-position:bottom!important;
  }
  #h_bg{
    height:246px;
  }
  #h_title{
    padding:.25em 0;
  }
  #h_title h1{
    font-size:2em;
  }
  #h_title h2{
    display:none;
  }
  section:not(.wide_img) .image{
    display:none;
  }
  .info{
    padding:1em!important;
  }
  .section_title{
    margin-bottom:.75em;
  }
  #stats{
    flex-direction:column-reverse;
  }
  #stats > div{
    flex:1;
    width:100%;
  }
  .stat_desc{
    border-width:1px 0 0 0;
    margin:-1px 0 0;
    box-shadow:none;
  }
  .stat_chart{
    border-width:0 0 1px;
  }
  .bar::before{
    background-image:none!important;
  }
  .pros_cons{
    flex-direction:column;
  }
  .pros_cons h4{
    border-bottom:none;
  }
  .skill_array li{
    flex:0 calc(50% - 1.6em);
  }
  .skill_array li:nth-child(2n+1){
    margin-left:0;
  }
  .skill_array li h5{
    font-size:.9em;
  }
  .level:before{
    display:none;
  }
  #f .not_banner{
    display:none;
  }
}